@import "normalize.scss";
@import "foundation.scss";
@import "compass/css3/transition";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "cw-custom.scss"; // This is where we can put custom mixins and classes
@import "gravityforms";
@import "wordpress";
@import "bxslider";
@import "cw-accordion";
@import "cw-slides";

// variables
$linkColor: #b9c2d7;
$linkHover: #FFF;
$fontColor: #e2e2e2;

html, body {
	margin: 0;
	padding: 0;

	background:#2c364f;
	//background: url(/wp-content/themes/cw/img//img/inside_bgTile.gif) repeat-x #2c364f;
	font-family: verdana, arial, sans-serif;
	color:#e2e2e2;
}

body {
	&.admin-bar {
		padding-top: 46px;
	}
}

* {
	outline: none!important;
	
	&:hover,
	&:focus {
		outline: none!important;
	}
}

pre {
	position: relative;
	padding: 24px;
	font-size: 10px;
	border: solid 1px #666;
	background-color: #fff;
	@include border-radius(20px);
	margin: 15px;

	.close-pre {
		display: block;
		position: absolute;
		top: 15px;
		right: 15px;
		width: 20px;
		height: 20px;
		border: solid 1px #666;
		@include border-radius(20px);
		cursor: pointer;

		&:before,
		&:after {
			position: absolute;
			display: block;
			content: '';
			background-color: #666;
			width: 13px;
			height: 2px;
			top: 50%;
			left: 50%;
			@include transform-origin(center center);
			@include transition(.5s);
		}

		&:before {
			@include transform(translateY(-50%) translateX(-50%) rotate(0deg));
		}

		&:after {
			@include transform(translateY(-50%) translateX(-50%) rotate(0deg));
		}

		&.open {
			&:before {
				@include transform(translateY(-50%) translateX(-50%) rotate(90deg));
			}
			&:after {
				@include transform(translateY(-50%) translateX(-50%) rotate(180deg));
			}
		}
	}
}

// reference clases
.vertcent {
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
}

.horzcent {
	position: absolute;
	left: 50%;
	@include transform(translateX(-50%));
}

.absocent {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translateX(-50%) translateY(-50%));
}

.smoothfont {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//typography
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color:#e3de44;

	&.page-title {
		color:#e3de44;

	}
	&.widget-title{
		color:#e3de44;
		font-size: 1.5em;
		border-bottom:1px solid #565e72;

	}
}

h1 {
	font-size: 3.75em;
}

h2 {
	font-size: 3em;
}
h3 {
	font-size: 2.25em;
}
h4 {
	font-size: 1.875em;
}
h5 {
	font-size: 1.5em;
}
h6 {
	font-size: 1.125em;
}

p, li  {
	font-size: .875em;
	color: $fontColor;
	font-size:11px;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	&.styleless {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

a {
	color: $linkColor;
	text-decoration: underline;
	line-height: 1.5;
	font-family: verdana, arial, sans-serif;

	@include transition(.25s);

	&:hover {
		color: $linkHover;
		@include transition(.25s);
	}
}

input[type="text"],
input[type="email"],
input[type="submit"],
select,
textarea {
	border: 0;
	outline: none!important;
	padding: 10px!important;
	margin: 0!important;
}

input[type="submit"] {

}

input[type="text"],
input[type="email"],
textarea {

}

input[type="text"],
input[type="email"] {

}

textarea {

}


// General CSS
.fuzzy_back
{
	background: rgba(0, 0, 0, 0.5);
}
.center{
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
.f_left{ float:left; text-align:left;}
.f_right{ float:right; text-align:right;}
.w_txt{
	color:#FFF;
}
.hr_inv{
	border: 1px transparent;
}

//buttons

.button{
	// background:red;
	// border:0px;
	// color:#FFF;
	// padding:0.5em 1em 0.5em 1em;
}
.button:hover, .button:focus {
  // background-color: #F64A36;
  // color:#000;

}

// header and nav
[role=banner] {

	// foundation nav structure
	.contain-to-grid {

		background: rgb(50,59,84); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(50,59,84,1) 0%, rgba(38,47,68,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,59,84,1)), color-stop(100%,rgba(38,47,68,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(50,59,84,1) 0%,rgba(38,47,68,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(50,59,84,1) 0%,rgba(38,47,68,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(50,59,84,1) 0%,rgba(38,47,68,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(50,59,84,1) 0%,rgba(38,47,68,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323b54', endColorstr='#262f44',GradientType=0 ); /* IE6-9 */


		[role="navigation"] {

			background: rgb(50,59,84); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(50,59,84,1) 0%, rgba(38,47,68,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,59,84,1)), color-stop(100%,rgba(38,47,68,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(50,59,84,1) 0%,rgba(38,47,68,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(50,59,84,1) 0%,rgba(38,47,68,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(50,59,84,1) 0%,rgba(38,47,68,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(50,59,84,1) 0%,rgba(38,47,68,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323b54', endColorstr='#262f44',GradientType=0 ); /* IE6-9 */


			.title-area {
			}
			.top-bar-section {
				li:not(.has-form) a:not(.button) {
					padding: 0 15px;
					line-height: 45px;
					font-size: 1.5em;
					font-family: 'Carme', sans-serif;

					background: rgb(50,59,84); /* Old browsers */
					background: -moz-linear-gradient(top,  rgba(50,59,84,1) 0%, rgba(38,47,68,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,59,84,1)), color-stop(100%,rgba(38,47,68,1))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  rgba(50,59,84,1) 0%,rgba(38,47,68,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  rgba(50,59,84,1) 0%,rgba(38,47,68,1) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  rgba(50,59,84,1) 0%,rgba(38,47,68,1) 100%); /* IE10+ */
					background: linear-gradient(to bottom,  rgba(50,59,84,1) 0%,rgba(38,47,68,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323b54', endColorstr='#262f44',GradientType=0 ); /* IE6-9 */
				  	
				  	text-decoration: none;
				}
				li:not(.has-form) a:not(.button):hover {
					background:#e3de44;

					background: rgb(227,222,68); /* Old browsers */
					background: -moz-linear-gradient(top,  rgba(227,222,68,1) 0%, rgba(188,184,64,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,222,68,1)), color-stop(100%,rgba(188,184,64,1))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  rgba(227,222,68,1) 0%,rgba(188,184,64,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  rgba(227,222,68,1) 0%,rgba(188,184,64,1) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  rgba(227,222,68,1) 0%,rgba(188,184,64,1) 100%); /* IE10+ */
					background: linear-gradient(to bottom,  rgba(227,222,68,1) 0%,rgba(188,184,64,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3de44', endColorstr='#bcb840',GradientType=0 ); /* IE6-9 */
					color:#000;
					
				}
				.menu {
					.menu-item {
						&.menu-item-type-custom {
							& > a {
							}
						}
						&.current-menu-item,
						&.current-menu-parent,
						&.active {
							& > a {
								background: rgb(227,222,68); /* Old browsers */
								background: -moz-linear-gradient(top,  rgba(227,222,68,1) 0%, rgba(188,184,64,1) 100%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,222,68,1)), color-stop(100%,rgba(188,184,64,1))); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(top,  rgba(227,222,68,1) 0%,rgba(188,184,64,1) 100%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(top,  rgba(227,222,68,1) 0%,rgba(188,184,64,1) 100%); /* Opera 11.10+ */
								background: -ms-linear-gradient(top,  rgba(227,222,68,1) 0%,rgba(188,184,64,1) 100%); /* IE10+ */
								background: linear-gradient(to bottom,  rgba(227,222,68,1) 0%,rgba(188,184,64,1) 100%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3de44', endColorstr='#bcb840',GradientType=0 ); /* IE6-9 */

								color:#000;

							}
						}
						a {
							&:hover {
							}
						}
						.sub-menu {
							.menu-item {
								&.menu-item-type-custom {
									a {
									}
								}
								a {
									&:hover {
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


.menu-item-26 {
	a{
		background-color:#E3DE44 !important;
		color:#E3DE44;
	}
}

.header_icon{
	float:right;
	padding:0px 20px 0px 20px;
}


.top-bar.expanded .title-area {
  background: #242A40 !important;
}

// main content
[role="main"] {

	.home & {
	}
}
.page_inner{
	padding:0px;
}

.menu_bot_border{
	border-top:1px solid #565E72;
}

.home_content{
	padding-top:20px;
	.columns{
		padding:0px;
	}

}
.home_inner_sidebar_padding{
	padding-right:20px;
	padding-left:20px;
}


.page_title_bg{
	
	background:url(/wp-content/themes/cw/img/img/page_header_bg.jpg)no-repeat ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:100px 20px 110px 350px;

}
.page_title_bg_green{
	
	background:url(/wp-content/themes/cw/img/img/green_title_bg.jpg)no-repeat ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:100px 20px 110px 350px;

}

.green_page_bg{
	background: rgb(31,77,13); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(31,77,13,1) 0%, rgba(39,62,55,1) 17%, rgba(44,54,79,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,77,13,1)), color-stop(17%,rgba(39,62,55,1)), color-stop(100%,rgba(44,54,79,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(31,77,13,1) 0%,rgba(39,62,55,1) 17%,rgba(44,54,79,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(31,77,13,1) 0%,rgba(39,62,55,1) 17%,rgba(44,54,79,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(31,77,13,1) 0%,rgba(39,62,55,1) 17%,rgba(44,54,79,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(31,77,13,1) 0%,rgba(39,62,55,1) 17%,rgba(44,54,79,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f4d0d', endColorstr='#2c364f',GradientType=0 ); /* IE6-9 */
}
.umc_map{
	width:500px;
	height:300px;
}
.umc_vid{
	width:620px;
	//height:300px;
}
.page_content{
	padding:0px 20px 20px 20px;
}


.entry-header{
	padding-top:20px;
	padding-bottom:20px;
	h2{
		font-size:2em;
	}
}
//promo
.promo{
	padding:10px;
}

.p1{
	padding:10px;
}
.p2{
	padding:10px;
}
.p3{
	padding:10px;
}

//slieshow area
.slide_area{
	background:#303645;
	// border-top:1px solid #565E72;
}
.slide_inner{
	background:url(/wp-content/themes/cw/img/img/home_logo.jpg)no-repeat ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:201px;
}
.cw-slideshow {
	margin:0px;
}
.slideshow_padding{
	padding:0px;
}
.slide_bot_border{
	border-top:1px solid #565E72;
}

// sidebar
[role="complementary"] {

}
.umc_sidebar{
	padding:0px;
}
.slidebar_inner{
	padding:20px;
	li{
		//line-height:2;
	}
	
}


// footer
[role="contentinfo"] {
	
}
.footer_area{
	background:#343434;
	background: url(/wp-content/themes/cw/img/img/footer_bgTile.gif) repeat-x #343434;
	padding:20px;
}
.partners{
	border-bottom:1px solid #565e72;
	color:#e3de44;
	margin-bottom:5px;
}
.partners_images{
	display: inline-block;
}
.footer_c{
	padding-top:15px;
	p{
		margin:0px;
	}
}

// misc stuff, specific stuff, global stuff
.logo {
	a {
		display: inline-block;
	}
}

.cw {
	display: block;
	width: 100%;
	height: 30px;
	background: right center no-repeat url(/wp-content/themes/cw/img/cw-dark.png);
	text-indent: -9999px;
}

.gf_captcha {
	display: none;
}

.cf:before,
.cf:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.cf:after {
	clear: both;
}


//media queries

@media all and (min-width: 1001px) {
	
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 20px;
		line-height: 45px;
		font-size: 1.2em;
	}

}

@media all and (max-width: 1001px) {
	
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 15px;
		line-height: 45px;
		font-size: 1.2em;
		
	}
	.umc_news{
		padding:20px;

	}
	.umc_vid{
		width:500px;
	}
}


@media all and (max-width: 865px) {

	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 15px;
		line-height: 45px;
		font-size: 1.2em;
	}

}

@media all and (max-width: 790px) {

	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 15px;
		line-height: 45px;
		font-size: 1.2em;
	}
	.umc_vid{
		width:425px;
	}

}

@media all and (max-width: 695px) {
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 8px;
		line-height: 45px;
		font-size: 1.2em;
	}
}

@media all and (max-width: 640px) {
	
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 10px;
		line-height: 45px;
		font-size: 1.2em;
	}

	.header_icon{
		float:left;
		padding:0px 20px 0px 20px;
	}
	//content padding on mobile
	.m_padding{
		padding:20px;
	}

	.page_title_bg{
	
		background:url(/wp-content/themes/cw/img/img/page_header_bg.jpg)no-repeat ;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		padding:100px 20px 110px 200px;
		h5{
			font-size: 1.3em;
		}

	}
	.page_title_bg_green{
		
		background:url(/wp-content/themes/cw/img/img/green_title_bg.jpg)no-repeat ;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		padding:100px 20px 110px 200px;


	}

	.umc_map{
		width:300px;
		height:300px;
	}
	.umc_vid{
		width:300px;
		height:200px;
		padding:20px;
	}
	.h_sidebar_img{
		text-align: center;
		margin-left: auto;
    	margin-right: auto;
	}

	
}



/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
 	*zoom: 1;
 }

@media all and (min-width: 783px) {
	body {
		&.admin-bar {
			padding-top: 32px;
		}
	}
}

 // print styles
 @media print {
 	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
 	a, a:visited { text-decoration: underline; }
 	a[href]:after { content: " (" attr(href) ")"; }
 	abbr[title]:after { content: " (" attr(title) ")"; }
 	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
 	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
 	thead { display: table-header-group; }
 	tr, img { page-break-inside: avoid; }
 	img { max-width: 100% !important; }
 	@page { margin: 0.5cm; }
 	p, h2, h3 { orphans: 3; widows: 3; }
 	h2, h3 { page-break-after: avoid; }
 }